.title {
    color: white;
    font-size: .7em;
    margin: 0;
}

.setting-container, 
.session-container,
.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.session-container {
    flex-direction: column;
    margin-bottom: 0;
}

.controls-container {

}

.icon-container {
    font-size: .5rem;
    cursor: pointer;
    margin: 5px;
}

.session-value, .setting-value {
    padding: 0 5px;
    font-size: .8rem;
}

.setting-container:last-of-type {
    margin: 0;
}
